annotated-types==0.6.0
anyio==4.2.0
asgiref==3.7.2
certifi==2023.11.17
colorama==0.4.6
distro==1.8.0
Django==5.0
djangorestframework==3.14.0
Faker==21.0.0
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.6
openai==1.5.0
pydantic==2.5.2
pydantic_core==2.14.5
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.4
tqdm==4.66.1
typing_extensions==4.9.0
tzdata==2023.3
